name: Node.js CI 

on:
  pull_request:
    branches: ["develop"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present -- --configuration production
      - run: npm run test-headless
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9
        with:
          args: >
            -Dsonar.projectKey=mbecirovic_spring-petclinic-angular
            -Dsonar.organization=mbecirovic
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


